#sudoku {
    width: 60vh;
    height: 60vh;
    max-width: 90vw;
    max-height: 90vw;

    gap: 0;
    background-color: black;
}
.cell {
    background-color: white;
    height: calc(100% / 3);
    transition: background-color 0.3s, transform 0.2s, color 1.5s;
}

.square {
    height: calc(100% / 3)
}

.page {
    height: 88vh;
    display: flex;
}


.invisible-text {
    color: white;
}

.light-blue {
    background-color: #a4cdf8;
}

.blue {
    background-color: #5598e0;
}

.pink {
    background-color: #e454a3;
}

.zoom {
    transform: scale(1.3);
    z-index: 100;

}
.lighter-pink {
    background-color: #f59bcc;
}

#header {
    height: 10vh;
}

#buttons {
    max-width: calc(300px + 10%);
}

body {
    font-family: 'Goudy Stout';
    font-weight: bold;
}
label {
    font-family: "Goudy Old Style";
}

i::before {
    font-size: 2.3rem;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: x-small;
}

.hidden {
    display: none;
}

.custom-button {
    width: 70vw;
    height: 20vw;
    border: 2px lightgrey solid;
    font-family: "Goudy Stout";
    font-weight: lighter;
    font-size: smaller;
    color: rgb(75, 75, 75);
    margin: 2vh;
    padding: 1vh;
}